version: "3.9"

services:
  postgres:
    image: postgres
    container_name: chat_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
      - chat_data:/var/lib/postgresql
    networks:
      - my-network

volumes:
  chat_data:

networks:
  my-network:
    driver: bridge
